%nav.pure-menu.pure-menu-horizontal.sub-menu
  %ul.pure-menu-list
    %li.pure-menu-item
      = link_to cart_path(@cart), class: "pure-menu-link" do
        #{fa_icon "times-circle-o"} Cancel order
.content-wrapper.pure-g
  .pure-u-1.center
    = render 'form'
