$gray: rgb(233, 233, 233);
$light-gray: lighten($gray, 40%);

.products {

  h1 {
    background-color: darken(rgb(233, 233, 233), 60%);
    margin: 0;
    padding: 10px;
    color: $light-gray;
  }

  .img-box {
    padding: 15px;
  }

  .list_description {
    color: darken($gray, 60%);
    padding: 30px;

    p.title {
      font-weight: bold;
      font-size: larger;
    }
  }

  .list-options {
    padding: 15px;
  }

  [class*='pure-u']:nth-child(1n) {
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: $gray;
  }

}
