@import "variables";
$nav-bar-span: 40px;
.products {
  &.content-wrapper {
    // display: flex;
  }
  .product {
    margin: 0 2em 2em;
    padding: 2em;
    border-bottom: 42px solid $lighter-gray;
    border-radius: 5px;
    p {
      font-size: 1em;
      font-weight: 400;
      color: rgb(26, 26, 26);
      line-height: 1.8em;
      text-align: left;
      margin-left: 136px;
    }
    p.title {
      margin-top: 10px;
      font-size: 1.375em;
      line-height: normal;
      margin-left: auto;
      text-align: center;
      color: rgb(26, 26, 26);
    }
    p.price {
      float: left;
      font-size: 1.8em;
      line-height: normal;
      margin-left: auto;
      font-weight: 300;
      text-align: center;
      color: rgb(26, 26, 26);
    }
    button,
    input[type="submit"],
    a.pure-button {
      border-radius: 3px;
      margin-left: 15px;
    }
  }
  .pure-gutter > * {
    margin: 15px;
  }
  .img-box {
    margin-left: auto;
    margin-right: auto;
  }
  .list-description {
    color: darken($gray, 60%);
    height: 265px;
    > p {
      margin-left: 20px;
      &.title {
        font-weight: semi-bold;
        font-size: larger;
      }
      &.price {
        font-weight: semi-bold;
        font-size: large;
        display: inline;
      }
    }
    > form,
    input {
      display: inline;
    }
  }
  .list-options {
    padding: 15px;
  }
}
