@import "variables";
.products {
  .pure-gutter > * {
    margin: 15px;
  }
  .img-box {
    height: 235px;
  }
  .list_description {
    color: darken($gray, 60%);
    height: 265px;
    > p {
      margin-left: 40px;
      &.title {
        font-weight: bold;
        font-size: larger;
      }
    }
  }
  .list-options {
    padding: 15px;
  }
  [class*='pure-u'] {
    border-bottom: solid 1px;
    border-color: $gray;
  }
}
