@import "variables";
nav.fixed-navbar {
  background-color: $light-gray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  border-bottom: solid 1px;
  border-color: $gray;
}
.page-title {
  margin-top: 34px;
  background-color: $dark-blue;
  padding: 0.5em 1em;
  color: darken($light-gray, 30%);
}
.cart-link {
  float: right;
}
.screen-message {
  color: darken($light-gray, 10%);
  font-size: 2.5em;
  p {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.pure-button-primary {
  background-color: $primary-yellow;
}
