@import "variables";
$nav-bar-span: 40px;
$footer-height: 90px;
/* --------------------------
 * PureCss Custom
 * --------------------------
*/
.pure-g {
  letter-spacing: normal;
}
.pure-button {
  min-width: 100px;
}
.pure-button-primary,
a.pure-button-primary {
  background-color: $color-base;
  color: $lighter-gray;
}
.pure-button-secondary,
a.pure-button-secondary {
  background-color: $color-base-2;
  color: white;
}
.pure-form-aligned .pure-control-group label {
  text-align: left;
}
.pure-form legend {
  margin-bottom: 25px;
}
/* --------------------------
 * General Settings
 * --------------------------
*/
.disable-selection {
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}
html {
  position: relative;
  min-height: 100%;
}
/*Normalize html and body elements,this style is just good to have*/
html,
body {
  margin: 0;
  padding: 0;
}
body > section {
  margin-bottom: $footer-height;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  a {
    color: white;
    border-bottom: 1px dashed;
    border-color: white;
    &:visited {
      color: inherit;
    }
    &:hover {
      color: inherit;
    }
  }
}
form {
  margin-bottom: $nav-bar-span;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.display-block {
  display: block;
}
.content-wrapper {
  margin: 0 auto;
  max-width: 980px;
  margin-top: 60px;
  margin-bottom: 60px;

  // display: block;
}
a {
  color: inherit;
  text-decoration: none;
  &:visited {
    color: inherit;
  }
  &:hover {
    color: inherit;
  }
}
#error_explanation {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: $color-base-2-light;
  color: $dark-gray;
  margin-bottom: 45px;
  h2 {
    font-size: 1em;
  }
  ul li {
    display: block;
  }
}
#notice {
  text-align: center;
  color: $dark-gray;
  font-size: 1em;
}
.screen-message {
  color: $light-gray;
  font-size: 2.5em;
  p {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* --------------------------
 * Header Modules
 * --------------------------
*/
nav.fixed-navbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: $nav-bar-span;
  z-index: 100;
  border-bottom: solid 1px;
  border-color: $color-base-light;
  .brand {
    text-transform: none;
    line-height: 24px; //img size
    vertical-align: middle;
    padding-right: 24px; //img size
    cursor: default;
    color: $dark-gray;
    span {
      color: $color-base-2;
    }
    &:hover {
      color: $dark-gray;
    }
  }
}
.right-link-menu {
  float: right;
  padding-top: 3px;
}
nav.sub-menu {
  margin-top: $nav-bar-span;
  background-color: $color-base-4;
  border-bottom: solid 1px;
  border-color: $color-base-light;
  color: $gray;
}

/* --------------------------
 * Hero Module
 * --------------------------
*/
.hero {
  position: relative;
  float: left;
  width: 100%;
  height: 315px;
  margin-top: $nav-bar-span;
  background: $color-base;
  background-image: url(header.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  .brand {
    padding-top: 60px;
    position: absolute;
    width: 65%;
    p {
      position: absolute;
      right: 0;
      color: $lighter-gray;
      letter-spacing: 2px;
    }
    .hero-title {
      font-size: 60px;
      font-weight: 600;
    }
    .hero-subtitle {
      top: 155px;
      font-style: italic;
      font-size: 24px;
      line-height: 1.38;
      font-weight: lighter;
    }
  }
}

/* --------------------------
 * Panel Modules
 * --------------------------
*/
.description-panel {
  height: $footer-height * 3;
  background-color: $color-base;
  article {
    margin-left: 10%;
    width: 80%;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.38;
    text-align: center;
    color: $lighter-gray;
    p {
      padding-top: 64px;
      margin-bottom: 1em;
    }
  }
}
.left-panel {
  width: 40%;
  margin-left: 10%;
  position: relative;
  float: left;
}
.right-panel {
  width: 40%;
  position: relative;
  float: left;
  text-align: right;
}

/* --------------------------
 * Footer Modules
 * --------------------------
*/
.page-footer {
  position: relative;
  width: 100%;
  height: $footer-height * 2;
  background-color: $lighter-gray;
  section {
    margin: 0 auto;
    max-width: 980px;
    padding-top: 45px;
    article {
      max-width: 43%;
      float: left;
      margin: 0 2em 2em;
      text-align: center;
    }
  }
}
footer {
  width: 100%;
  height: $footer-height;
  background-color: $darker-gray;
  padding-top: 12px;
  p {
    font-size: 0.875em;
    font-weight: 300;
    line-height: 1.2;
    color: $lighter-gray;
  }
}
