@import "variables";
$nav-bar-span: 40px;

body {
  height: 100%;
  overflow: hidden;
}
nav.fixed-navbar {
  background-color: $light-gray;
  position: fixed;
  top: 0;
  width: 100%;
  height: $nav-bar-span;
  z-index: 100;
  border-bottom: solid 1px;
  border-color: $color-base-light;
  .brand {
    line-height: 24px; //img size
    vertical-align: middle;
    padding-right: 24px; //img size
  }
  img.brand {
    float: left;
    padding-right: 10px;
  }
}
.page-title {
  margin-top: $nav-bar-span;
  margin-bottom: $nav-bar-span;
  background-color: $color-base;
  padding: 0.5em 1em;
  color: $gray;
}
#error_explanation {
  padding-left: 1em;
  color: $dark-gray;
  margin-bottom: 45px;
  h2 {
    font-size: 1.2em;
  }
}
#notice {
  padding-left: 0.5em;
  color: $dark-gray;
  font-size: 1em;
  background-color: darken($light-gray, 3%);
  line-height: 2em;
  margin-top: -$nav-bar-span;
  text-align: right;
}
.cart-link {
  float: right;
  padding-top: 3px;
}
.screen-message {
  color: $gray;
  font-size: 2.5em;
  p {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.pure-button-primary {
  background-color: $color-base;
}
.pure-button-secondary {
  background-color: $color-base-2;
  color: $light-gray;
}
.content-wrapper {
  height: 91vh;
  overflow-x: hidden;

}
/* --------------------------
 * Footer Module Styles
 * --------------------------
*/
.footer {
  height: 9vh;
  .legal {
    font-size: 87.5%;
    border-top: 1px solid #eee;
    padding: 0.5em 1em;
    // background: $gray;
    line-height: 1.6;
    color: $dark-gray;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .legal-license {
    margin-top: 0;
    float: left;
    text-align: left;
  }
  .legal-info {
    padding: 0;
    margin-bottom: 0;
    float: right;
    text-align: right;
  }
}
