@font-face {
    font-family: 'indieCraft';
    src: font-url('indieCraft.eot?xb69x4');
    src: font-url('indieCraft.eot?xb69x4#iefix') format('embedded-opentype'),
        url('indieCraft.ttf?xb69x4') format('truetype'),
        url('indieCraft.woff?xb69x4') format('woff'),
        url('indieCraft.svg?xb69x4#indieCraft') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'indieCraft' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-indieCraft-logo:before {
    content: "\e900";
}
