$lighter-gray: darken(white, 5%);
$light-gray: darken(white, 20%);
$gray: darken(white, 40%);
$dark-gray: darken(white, 60%);
$darker-gray: darken(white, 80%);

$color-base: rgb(44, 96, 97);
$color-base-dark: darken($color-base, 20%);
$color-base-light: lighten($color-base, 20%);

$color-base-2: rgb(49, 23, 79);
$color-base-2-light: lighten($color-base-2, 20%);

$color-base-3: rgb(155,155,147);
$color-base-3-light: lighten($color-base-3, 20%);

$color-base-4: rgb(241, 241, 235);
$color-base-4-dark: darken($color-base-4, 20%);
$color-base-4-light: lighten($color-base-4, 20%);
